.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    padding-top: 10;
    background-color: white;
    border-radius: 10;
}



.horario {
    text-decoration: none;
    background-color: transparent;
    border-radius: 30px;
    padding: 8px 24px;;
    font-size: 16px;
    box-shadow: none;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 270px;
  
  }
  
  #horario-color-red{
    color: rgba(229, 22, 72, 1);
    border: 2px solid rgba(229, 22, 72, 1);
  }
  #horario-color-green{
    color: #2ecc71;
    border: 2px solid ;
  }
  #horario-color-red:hover {
    color: rgba(108, 10, 34, 1);
    border: 2px solid rgba(108, 10, 34, 1);
  }
  #horario-color-green:hover {
    color:#1d8348;
    border: 2px solid #1d8348;
  }
  
.divhorario {
    margin-top: 2%;
    padding-top: 72%;
    height: 200px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px) {
    .divhorario{
        padding-top: 112%;
    }
    #horario-color-red:hover {
        color: rgba(229, 22, 72, 1);
    border: 2px solid rgba(229, 22, 72, 1);
      }
      #horario-color-green:hover {
        color: #2ecc71;
    border: 2px solid ;
      }
  }


::-webkit-scrollbar {
    width: 8px;
    background-color: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #808080;
  }

  ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }